<ul class="list-group my-4">
    <li *ngFor="let quote of quotes" class="list-group-item quote">
        <div class="addedBy">Added by {{quote.submittedBy}}</div>
        <div class="quoteBody">{{quote.body}}</div>
        <div class="author">- {{quote.author}}</div>
        <div class="bottom">
            <div class="votes">
                <button type="button" (click)="upVote(quote)" class="btn btn-primary btn-sm">
                    <i class="fa fa-thumbs-up mx-2"></i><span class="badge badge-light">{{quote.upvotes}}</span>
                </button>
                <button type="button" (click)="downVote(quote)" class="btn btn-warning btn-sm">
                    <i class="fa fa-thumbs-down mx-2 text-danger"></i> <span class="badge badge-light">{{quote.downvotes}}</span>
                </button>
            </div>
            <app-quote-time-detail [quote]='quote'></app-quote-time-detail>
        </div>
        
        
    </li>
</ul>