<div class="container">
  <button class="btn btn-primary mt-4" (click)="toggleForm()">Add Quote</button>
  <div class="form" [hidden]="isHidden">
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <div class="form-group">
        <label for="quote">Quote</label>
        <textarea ngModel="quote" #quote="ngModel" name="quote" id="quote" class="form-control" cols="10" rows="3" placeholder="Enter your quote here...."></textarea>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input ngModel type="text" name="author" id="author" class="form-control">
      </div>
      <div class="form-group">
        <label for="submittedBy">Submitted by</label>
        <input ngModel type="text" name="submittedBy" id="submittedBy" class="form-control">
      </div>
      <button class="btn btn-primary">Add +</button>
    </form>
      {{form.value | json }}
  </div>
  <app-quotes [quotes]="quotes"></app-quotes>
</div>
